.fixed
	fixed()
	width 100%
	z-index 2

.scrolled
	height 400px
	max-width 130px
	display: flex
	flex-direction: column
	margin 20px
	opacity 0.8
	.welcome-logo
		display flex
		flex-direction: column
	.header
		&-logo
			flex 0 1 36%
			.logo
				opacity 0
		&-logo--img 
			absolute(0, 0)
			z-index 0
		&-phone
			display flex
			padding-top: 30px
			flex-direction column
			z-index 1
			.phone
				font-size 14px
	.nav-list
		display flex
		flex-direction: column
		&__link
			padding 5px 0 5px 0
			font-size: 15px
			&.active
				text-decoration underline
			&.active::after
				display none
	
	.header__nav
		display flex
		text-align: center
		&-container
			display flex
			flex 0 1 35%
			padding-left: 5px;
	.header-nav__soc
		top 95%
		left 18%
	
.welcome
	&__container
		background-color maroon
	&-logo
		flex 0 1 100%
		row(flex-start, center)
		flex-wrap wrap
		relative()
.header
	&-logo
			max-width 100%
			height auto
			flex 0 1 24%
			.logo
					display flex
					background-repeat no-repeat
					background-position left center
					background-size contain
					min-height 90px
					min-width 230px
			&--img
				absolute(0, 0, 0)
				z-index 1
	&-phone
		flex 0 1 20%
		margin-top: 16px
		a
			color #fff
			font-size 14px
			text-decoration underline
			line-height 1.4
			display block
			text-align center
		.phone
			display block
			font-size 22px
			color #f3dc9d
			font-weight 600
			text-align center
	
	&__nav
		&-container
			flex 0 1 45%
			z-index 1
			relative()
		.nav-list
			display flex
			justify-content space-between
			font-size 16px
			&__item
				margin-right 10px
				&:last-child
					margin-right 0
			&__link
				color #fff
				font-family  mainFont
.header
	&-nav__soc
		absolute(6px, -50px)
		z-index -1

.nav-soc
	display flex
	align-items: center
	
	&__item
		margin 5px 5px 0 0
		line-height 0
		&:last-child
			margin-top: -1px;

	&__link
		font-size 18px
		color #fff
		svg
			width 95px
			height 48px
			fill #fff
		.icon-vk
			width 20px
			padding-top 5px

.nav-list__link
	padding: 35px 0 35px 0
	&.active
		color: #fdf8b4
	&.active::after
		content ''
		display block
		width 100%
		height 1px
		text-decoration underline
		background #fdf8b4
		
.nav-list__item:last-child 
	.nav-list__link 
		padding 0
     