.welcome_header
    min-width 100%
    display flex

.header-logo
    max-width 100%
    height auto
    .logo
        display flex
        background-repeat no-repeat
        background-position left center
        background-size contain
        min-height 90px
        min-width 200px 

     