.fixed
	fixed()
	width 100%
	z-index 2

.scrolled
	height 400px
	max-width 130px
	display: flex
	flex-direction: column
	margin 20px
	opacity 0.8
	.welcome-logo
		display flex
		flex-direction: column
	.header
		&-logo
			flex 0 1 36%
			.logo
				opacity 0
		&-logo--img 
			absolute(0, 0)
			z-index 0
		&-phone
			display flex
			padding-top: 30px
			flex-direction column
			z-index 1
			.phone
				font-size 14px
	.nav-list
		display flex
		flex-direction: column
		&__link
			padding 5px 0 5px 0
			font-size: 15px
			&.active
				text-decoration underline
			&.active::after
				display none
	
	.header__nav
		display flex
		text-align: center
		&-container
			display flex
			flex 0 1 35%
			padding-left: 5px;
	.header-nav__soc
		top 95%
		left 18%
	
.welcome
	&__container
		background-color maroon
		min-height 90px
	&-logo
		flex 0 1 100%
		flex-wrap wrap
		relative()
.header
	&-logo
		max-width 100%
		height auto
		flex 0 1 20%
		.logo
				display flex
				background-repeat no-repeat
				background-position left center
				background-size contain
				margin: 9px 0 9px 0
		&--img
			absolute(0, 0, 0)
			z-index 1
	&-phone
		padding-top 21px
		a
			color #fff
			line-height 1.4
			display block
			text-align center
		.phone
			display block
			color #f3dc9d
			font-weight 600
			text-align center
		.consult
			text-decoration underline
			font-size 14px
	&__nav
		&-container
			flex 0 1 45%
			z-index 1
			relative()
		.nav-list
			display flex
			justify-content space-between
			font-size 16px
			&__item
				margin-right 10px
				&:last-child
					margin-right 0
			&__link
				color #fff
				font-family  mainFont

	&-nav__soc
		absolute(6px, -50px)
		z-index -1

.nav-soc
	display flex
	align-items: center
	
	&__item
		margin 5px 5px 0 0
		line-height 0
		&:last-child
			margin-top: -1px;

	&__link
		font-size 18px
		color #fff
		svg
			width 95px
			height 48px
			fill #fff
		.icon-vk
			width 20px
			padding-top 5px

.nav-list__link
	padding: 35px 0 35px 0
	&.active
		color: #fdf8b4
	&.active::after
		content ''
		display block
		width 100%
		height 1px
		text-decoration underline
		background #fdf8b4
		
.nav-list__item:last-child 
	.nav-list__link 
		padding 0

// Style for svg sandwich
.ham 
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 600ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

.line 
	fill none
	transition stroke-dasharray 600ms, stroke-dashoffset 600ms
	stroke #fff
	stroke-width 5.5
	stroke-linecap round

.ham6 .top 
	stroke-dasharray 40 172

.ham6 .middle 
	stroke-dasharray 40 111

.ham6 .bottom 
	stroke-dasharray 40 172

.ham6.active .top 
	stroke-dashoffset -132px

.ham6.active .middle  
	stroke-dashoffset  -71px 
 
.ham6.active .bottom 
	stroke-dashoffset: -132px 
//media

@media (max-width: 920px) 
	.header__nav-container
		display none

@media (max-width: 1199px) 
	.header-phone
		.phone
			font-size 20px
	.welcome-logo
		row(space-between, center)
@media (max-width: 559px) 
	.header-phone
		display none
	
@media (min-width: 559px) and (max-width: 767px) 
	.welcome-logo
		row(space-around, center)
	.header
		&-phone
				flex: 0 1 40%
				margin: 0px 10px 0 -27px
			.phone
				font-size 18px
@media (max-width: 767px)
	.header-logo
		&--img
			display none
	

@media (min-width: 768px) and (max-width: 920px) 
	.header
		&-phone
			flex 0 1 39%
	.sandwich
		flex 0 1 24%
		margin 0 auto
@media (min-width: 840px) and (max-width: 920px) 
	.header
		&-logo--img
			padding-left 40px
@media (min-width: 921px) and (max-width: 1199px) 
	.header
		&__nav-container
			flex: 0 1 50%
		&-phone 
			.phone
				font-size 18px
		&-logo--img
			display none
@media (min-width: 921px) and (max-width: 2048px) 
	.sandwich
		display none
@media (max-width: 940px)
	.logo
		min-height 64px
		min-width 200px
	
@media (min-width: 941px) and (max-width: 2048px)
	.logo
		min-height 72px
		min-width 226px
@media (min-width: 979px) and (max-width: 2048px)
	.header-phone
		flex 0 25.5%

@media (min-width: 1201px) and (max-width: 2048px)
	.welcome-logo
		align-items: center
	.header-phone
		.phone
			font-size 22px
			
	




	







