.welcome__container
	footer
		.container.welcome-text
			.footer-logo
				a.logo(href="/" title="Республика недвижимости", style= 'background-image: url(static/img/general/ramka_swirl.png);')    
			.footer-contacts
				h3.footer-contacts__title Агенство недвижимости Республика
			.footer-phone
				span 8(921) 727-03-90 
				
		.container.welcome-desc
			address.address Адрес: Республика Карелия, г. Петрозаводск, ул. Правды, д. 6  
			.footer-list
				ul.footer-office__list Офис:
					li.footer-office__item (8142)445-007
					li.footer-office__item (8142) 57-42-99
				
				ul.footer-consultation__list Консультации:
					li.footer-consultation__item (8142) 445-007
					li.footer-consultation__item 8(921) 727-03-90
			.footer-soc
				p Перейдите по ссылке и посмотрите объекты:


		
			