.container.welcome__container
	header.welcome_header
		.header-logo
				a.logo(href="/" title="Республика недвижимости", style= 'background-image: url(static/img/general/ramka_swirl.png);') 
				a(href="").mobile-icon
		.header__nav-container
			+nav('nav-list', ['Главная ', 'Услуги', 'Преимущества', 'Отзывы', 'Контакты'], 0) 
			.header-nav__soc
				ul.nav-soc
					li.nav-soc__item
						a.nav-soc__link(href="https://vk.com/club29519563" target="_blank")
							i.fa.fa-vk
					li.nav-soc__item
						a.nav-soc__link(href="https://www.avito.ru/respublika" target="_blank")
							+icon('avito')
				
		.header-phone
			a.phone(href="tel:+79217270390") 8(921) 727-03-90
				p Бесплатная консультация
		.header-logo.header-logo--img
				img(src="static/img/content/logo2.jpg", alt="")

								