.container.welcome__container
	header.welcome_header
		.header-logo
				a.logo(href="/" title="Республика недвижимости", style= 'background-image: url(static/img/general/ramka_swirl.png);') 
				a(href="").mobile-icon
		+nav('nav-list', ['Главная ', 'Услуги', 'Преимущества', 'Отзывы', 'Контакты'], 0)              