.overlay
  .popup
    .popup-close
      +icon('close')
    h3.popup-title 
      span Спасибо 
      span за Ваше обращение!
    p.popup-text 
      span Ваша заявка отправлена. 
      span Наши специалисты 
      span свяжутся с Вами в ближайшее время
