extends ../layout/main

block variables
	- var title = 'АН Республика - все операции с недвижимосью в Петрозаводске'

block content
	include ../section/section-general
	include ../section/our-services
	include ../section/our-strength
	include ../section/section-reviews
	include ../section/section-map
	