.wrapper
	position relative
	width 100%
	min-width 100%
	col(flex-start, stretch)

.main-work
	width 100%
	flex-grow 1

.footer
	min-width 100%
	flex-grow 0

.container
	max-width 1200px
	width 100%
	margin 0 auto
	display flex

.container--row-c-c
	row(center, center)

.container--row-s-c
	row(null, center)

.container--row-b-c
	row(space-between, center)

.container--column-c-c
	row(center, center)

.container--column-s-c
	row(null, center)

.container--column-s-s
	row(null, null)