@font-face
  font-family 'fontawesome'
  font-family url('../static/fonts/fontawesome-webfont.woff')format('woff')
  font-family url('../static/fonts/fontawesome-webfont.woff2')format('woff2')
  font-weight normal