@media (min-width: 2048px) {

}
@media (min-width: 768px) and (max-width: 2047px) {

}
/* Large desktops and laptops */
@media (min-width: 1400px) and (max-width: 1600px) {
  .our-services__left {
    flex: 0 1 48%
  }
  .our-services__right {
    flex: 0 1 44%
  }
  .our-services__title {
    margin-top: 60px
  }
}


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1399px) {
  
}


/* Portrait tablets and medium desktops */
@media (min-width: 1400px) and (max-width: 2047px) 
  .container 
    padding: 0 

@media(min-width: 921px) and (max-width: 1399px)
  .container 
    padding: 0 20px

@media(min-width: 768px) and (max-width: 920px)
  .container 
    padding: 0 40px

@media(max-width: 767px)
  .container 
    padding: 0 20px

/* Portrait tablets and small desktops */
@media (max-width: 1024px)
  .scrolled
    display none  

@media(max-width: 559px) 
  .container-desc 
    align-items center
    display flex
    flex-direction: column
    margin: 0 auto





