@media (min-width: 2048px) {

}
/* Large desktops and laptops */
@media (min-width: 1400px) and (max-width: 1600px) {
  .our-services__left {
    flex: 0 1 48%
  }
  .our-services__right {
    flex: 0 1 44%
  }
  .our-services__title {
    margin-top: 60px
  }
}


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1399px) {
  
}

/* Portrait tablets and medium desktops */
@media (min-width: 991px) and (max-width: 1199px) {
  
}

@media(max-width: 1199px) {
    .container{
        padding 0 20px
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 990px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}
