//Fonts

bernier($style = null)
	font-family 'bernier'

	if $style == light
		font-weight light
	
	if $style == bold
		font-weight bold
	
	if $style == null
		font-weight normal

bernierShade($style = null)
	font-family 'bernierShade'

	if $style == null
		font-weight normal
//Position

centered($axic = both) 
	position absolute

	if $axic =='both'
		top 50%
		left 50%
		transform translate(-50%, -50%)
	
	if $axic == 'x'
		left 50%
		transform translateX(-50%)
	
	if $axic == 'y'
		top 50%
		transform translateY(-50%)
	

absolute-center()
	position absolute
	top 50%
	left 50%
	transform translate(-50%,-50%)

absolute-all(num)
	position absolute
	top num
	bottom num
	right num
	left num

position($position, $top = null, $right = null,  $bottom = null, $left = null)
	position: $position
	if $left is a 'unit' or $left == 'auto'
		left: $left
	if $right is a 'unit' or $right == 'auto'
		right: $right
	if $top is a 'unit' or $top == 'auto'
		top: $top
	if $bottom is a 'unit' or $bottom == 'auto'
		bottom: $bottom

absolute($top = null, $right = null,  $bottom = null, $left = null)
	position(absolute, $top, $right, $bottom, $left)

fixed($top = null, $right = null,  $bottom = null, $left = null)
	position(fixed, $top, $right, $bottom, $left)

relative($top = null, $right = null,  $bottom = null, $left = null)
	position(relative, $top, $right, $bottom, $left)

//Size

rem(size)
	return (size/16)rem

size(a, b = false)
	width a
	if b
		height b
	else
		height a
		
rem(target)
	target / base-font + 0rem

em(target, context)
	target / context + 0em

persent(target, context)
	target / context * 100%

//Flex

row(pos1, pos2 )
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: stretch
	if pos1
		justify-content: pos1
	if pos2
		align-items: pos2

col(pos1 = null, pos2 = null)
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: stretch
	if pos1
		justify-content: pos1
	if pos2
		align-items: pos2
