include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(property='og:image', content='path/to/image.jpg')
		//- link(rel='icon', href='img/favicon/favicon.ico')
		//- link(rel='apple-touch-icon', sizes='180x180',href='img/favicon/apple-touch-icon-180x180.png')
		link(href="https://fonts.googleapis.com/css?family=PT+Serif", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
		//- link(href=" https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css ") 
		//- favicon block start
		//- favicon block end
		//- script(src="https://use.fontawesome.com/72c23d4204.js")

		link(rel="stylesheet" type='text/css' href="static/css/main.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
		title #{title}    
	body
		.wrapper
			include ../modules/header
			block content
			include ../modules/footer
			include ../modules/popup
		block script
			script(src="static/js/jquery.js")
			script(src="static/js/libs.min.js")
			script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyAIQyrHP2oEDlsUF8AJmyd9R0vtRDKlOo8&amp;sensor=false&amp;language=en&amp;ver=4.6.12")
			script(src="static/js/main.js")
			script(src="static/js/fix.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js")
	

		