footer 
  color #fff
  margin-bottom 35px
.welcome-text
  display flex
  flex-direction row
  justify-content space-between
  margin-top: 32px
  flex-wrap wrap
.footer
  &-logo
    flex 0 1 24%
    .logo
        display flex
        background-repeat no-repeat
        background-size contain
  &.nav-soc__link 
    svg
      width 120px
      height 60px
.welcome-desc
  display flex
  flex-direction row
  justify-content space-between
  align-items flex-end
  flex-wrap wrap
.address
  flex 0 1 32%
  font-style: normal
  font-size 18px
  font-weight 400
  line-height 1.7
  span
    display block
.footer-contacts
  h3
    font-weight 600
  &__title
    margin-top 25px
.footer-phone
  font-weight 600
  margin-top 25px

.footer-list
  display flex
  flex-direction: row
  font-size: 18px
  font-weight: 400
  line-height 1.7
  flex: 0 1 39%

.footer-office__list
  margin-right: 70px

.footer-soc
  font-size 14px
  text-align right
.copyright
  color #cccc99
  font-size 14px
  display block
  text-align center
  padding-bottom 5px
.nav-soc--footer
  .icon-vk 
    width 32px
    margin-left: 20px
.icon-avito-logo-vector 
  width 80px
  margin: 6px 0 0 10px
@media(min-width: 320px) and (max-width: 768px)
  .footer
    &-soc 
    p 
      display none
@media(min-width: 320px) and (max-width: 660px)
  .welcome-text 
    justify-content: center
  .footer
    &-logo
      .logo
          min-height 64px
          min-width 200px
    &-contacts 
      h3 
        font-size 15px
    &-phone 
      font-size 22px 
    &-list
      display none
    &-mobile
      text-align center
      padding 20px 0
  .address
    display none
  .welcome-desc
    justify-content center
@media(min-width: 567px) and (max-width: 634px)
  .footer-phone
    padding 0 70px
@media(min-width: 480px) and (max-width: 768px)
  .footer
    &-contacts 
      h3 
        font-size 20px
        padding: 0 20px
@media(min-width: 480px)
  .footer
    &-logo
      .logo
          min-height 80px
          min-width 240px
@media(min-width: 661px) and (max-width: 768px)
  .footer-mobile,
  .footer-phone
    display none
  .address,
  .footer-list
    font-size 16px
  .footer
    &-soc__container
      display flex
      flex-direction column
      align-items center
      width 100%
      position relative
    &-soc__mobile
      margin 20px 0 
  .nav-soc--footer
    position absolute
    margin 30px 0 20px 
@media(min-width: 661px) and (max-width: 690px)
  .footer-contacts h3 
    padding 0
  .footer-office__list 
    margin-right: 68px
@media(min-width: 662px) and (max-width: 940px)
  .address,
  .footer-list
    flex: 0 1 50%
    justify-content flex-end
   .welcome-text
    justify-content space-around
@media(min-width: 740px) and (max-width: 768px)
  .address
    flex: 0 1 45%
  .welcome-text
    justify-content space-between
@media(min-width: 750px) and (max-width: 938px)
  .footer
    &-phone
      display none
    &-soc__container
      flex 1 1 100%
      text-align center
      padding-top 10px
      position relative
      top 10px
    &-soc 
      display none
      &__mobile
        display block
  .nav-soc--footer
    justify-content center
  .address
    flex 0 1 43% 
@media(min-width: 767px) and (max-width: 1600px)
  .welcome-text
    justify-content space-between
    flex 0 1 100%
  .footer
    &-phone
      font-size 23px
    &-mobile
      display none
@media(min-width: 937px)
  .footer
    &-mobile
      display none
    &-soc
      &__mobile
        display none
@media(min-width: 900px) and (max-width: 1130px)
  .address
    flex 0 1 36%
@media(min-width: 1400px) and (max-width: 1600px)
  .footer-contacts__title 
    margin-right: 30px
@media(min-width: 1600px)
  .footer
    &-phone
      font-size 26px

