
@media screen and (min-width: 1024px) {
	body {
    // font-size: 0.8em
  }
}
@media screen and (min-width: 1024px) {
	body {
    // font-size: 3em
  }
}
@media screen and (min-width: 600px) {
	body {
    // color: green
  }
}
@media screen and (min-width: 600px) {
	body {
    // color: red
  }
}
