.our-services 
  display flex
  flex 0 1 100%
  flex-direction: row
  background-size contain
  background-image linear-gradient(to top, #a31c1d 0%, #cc0000 100%)
  margin-top -3px
  relative()
  &__left
    display flex
    background-size contain
  &__right
    col(flex-start, center)
    position relative
  &__title
    color #ffffff
    font-family PtFont
    font-weight normal

.nav-list
  &-services
    &__item
      text-align center
    &__link
      font-size: 23px 
      line-height: 1
      position relative
      &:after
        display block
        content ''
        size(0%, 2px)
        left: 50%
        position absolute
        background-color #ffffcc
        transition width .3s ease-in-out
        transform:translateX(-50%)
      &:hover:after,
      &:focus:after
        width 100%  
      &.active
        color #ffffcc
        &::after
          content ''
          display block
          background-color #fff
          width 100px
          height 2px
          margin-top 10px
.services-list
  background #fff
  display flex
  align-items: center
  justify-content: center
  box-shadow: 0 4px 43px rgba(0, 0, 0, 0.14)
  min-height 320px
  &--mobile
    margin-bottom 20px
  &--mobile,
  &__reviews
    background #fff
    display flex
    align-items: left 
    flex-direction: column
  &__item
    font-weight normal
    &.note
      &:before
        content ''
        font-family fontawesome
        display inline-block
        color #ca0611
        margin-right 10px
    &.cheet
      &:before
        content ''
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px
    &.search
      &:before
        content ''
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px
    &.key
      &:before
        content ''
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px
    &.doc
      &:before
        content ''
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px
    &.legal
      &:before
        content ''
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px
    &.calculate
      &:before
        content:"\f0f7";
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px

  &__prev
    cursor pointer
    border: 1px solid #16263b
    background-color #fff
    padding 17px 20px
    margin-right 4.5px
    .icon-arrow
      size(15px)
      
  &__next
    cursor pointer
    border: 1px solid #16263b
    background-color #fff
    padding 17px 20px
    margin-left 4.5px
    .icon-right-arrow
      size(15px)
.bx-wrapper
  display flex
  margin 0 auto
.bx
  &-prev
    padding: 27px
    position: absolute
    top: 0
    left: 0
  &-next
    padding: 27px
    position: absolute
    top: 0
    left: 0

@media (min-width: 320px) and (max-width: 499px) 
  .nav-list
    &-services
      display flex
      &__item
        display none
      &__item:first-child
        display block
  .our-services 
    &__right
      min-width: 320px
      border-bottom: 40px solid #fafafa
    &__title
      font-size 28px
      padding 42px 0 10px 0
    &__left
      min-height 560px
  .services-list
    &__item
      padding 15px 0 0 10px
      line-height 1.6
    &__item:last-child
      padding-bottom 15px
    margin-top 24px
    &__nav
      padding 27px 19px
    &__next
      position absolute
      left 50%
      bottom -40px
    &__prev
      absolute(, 50%, -40px) 
@media (min-width: 451px) and (max-width: 500px) 
  .our-services__right 
    border-bottom: 112px solid #fafafa 
@media (min-width: 500px) and (max-width: 767px)
  .services-list
    min-height: 300px
    padding: 0 20px
    margin-right 10px
    &__prev
      absolute(, 60px, -15px)
    &__next
      absolute(, 0, -15px)
    &__item
      font-size 16px
  .nav-list
    min-width 300px
  .our-services__title
    font-size 33px
    padding-top 60px
@media (min-width: 500px) and (max-width: 1169px)
  .our-services 
    min-height 560px 
    &__left
      flex 0 1 25%
    &__right
      flex: 0 1 75%
@media (min-width: 500px) and (max-width: 1599px)
  .our-services
    &__left
      background: url(../img/content/city-2.jpg) no-repeat left
@media (min-width: 500px) and (max-width: 2048px) 
  .nav-list
    &-services
      display flex
      margin-top 32px
      justify-content space-around
      min-width: 500px
      display flex
      flex-direction row
  .services-list
    top 38%
    absolute()
    &__item
      line-height 1.8
  .nav-list
    min-width 300px
@media (min-width: 766px) and (max-width: 1169px)
  .services-list
    transform: translateX(-11%)
    min-height: 320px
    min-width: 720px
  .our-services__title
    padding-top 80px
    padding-right calc(15%)
    font-size 36px
  .nav-list-services
    margin-top 20px
  .our-services__right
    .nav-list
      padding-right calc(15%)
@media (min-width: 767px) and (max-width: 2048px)
  .services-list
    &__prev
      absolute(, 60px, -15px)
    &__next
      absolute(, 0, -15px)
    &__item
      font-size 19px
@media (min-width: 1170px) and (max-width: 1600px)
  .our-services
    &__left
      flex 0 1 40%
    &__right
      flex: 0 1 60%
@media (min-width: 1170px) and (max-width: 2048px)
  .our-services
    min-height 640px
    &__title
      margin-top 80px
      padding-right 33%
      font-size 36px
  .services-list
      min-width 770px
      transform: translateX(-23%)
    &__item
      font-size 20px
  .our-services__right
    .nav-list
      padding-right 33%
      &-services
        margin-top 32px
@media (min-width: 1600px) and (max-width: 2048px)
  .our-services
    min-height 640px
    &__left
      flex: 0 1 50%
      background: url(../img/content/city2.jpg) no-repeat 0 -346px
      background-size cover
    &__right
      flex: 0 1 55%




      

     

    

