.our-services 
  display flex
  flex 0 1 100%
  flex-direction: row
  background-size contain
  background-image linear-gradient(to top, #a31c1d 0%, #cc0000 100%)
  margin-top -1px
  relative()
  &__left
    // min-height 640px 
    display flex
    // flex 0 1 40%
    background-size contain
    // background url(../img/content/city-2.jpg) no-repeat left 
  &__right
    col(flex-start, center)
    // flex: 0 1 32%
  &__title
    // font-size 36px
    color #ffffff
    font-family PtFont
    font-weight normal
    // margin-top 70px

.nav-list
  &-services
    // margin-top 50px
    // display flex
    // justify-content space-between
    // min-width 500px
    // padding-left 30px
    &__item
      text-align center
      &--active
          a
            color #ffffcc
    &__link
      font-size: 23px 

.nav-list-services__item::after
    content ''
    display block
    background-color #fff
    width 100px
    height 2px
    margin-top 10px

.services-list
  background #fff
  // width: 720px
  // min-height: 320px
  display flex
  align-items: center
  justify-content: center
  box-shadow: 0 4px 43px rgba(0, 0, 0, 0.14)
  // absolute()
  // transform: translate(0%, 70%)
  &__item
    // font-size 20px
    font-weight normal
    // padding 15px 0 0 10px
    &.note
      &:before
        content ''
        font-family fontawesome
        display inline-block
        // font-size 20px
        color #ca0611
        margin-right 10px
    &.cheet
      &:before
        content ''
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px
    &.search
      &:before
        content ''
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px
    &.key
      &:before
        content ''
        font-family fontawesome
        display inline-block
        font-size 20px
        color #ca0611
        margin-right 10px
  &__prev
    // absolute(, 85px, -15px) 
    cursor pointer
    border: 1px solid #16263b
    background-color #fff
    padding 17px 20px
    margin-right 4.5px
    .icon-arrow
      size(15px)
      
  &__next
    // absolute(, 0, -15px)
    cursor pointer
    border: 1px solid #16263b
    background-color #fff
    padding 17px 20px
    margin-left 4.5px
    .icon-right-arrow
      size(15px)

@media (min-width: 320px) and (max-width: 499px) 
  .nav-list
    &-services
      display flex
      &__item
        display none
      &__item:first-child
        display block
  .our-services 
    &__right
      min-width: 320px
      border-bottom: 40px solid #fafafa
    &__title
      font-size 28px
      padding 42px 0 10px 0
    &__left
      min-height 560px
  .services-list
    &__item
      padding 15px 0 0 10px
      line-height 1.6
    &__item:last-child
      padding-bottom 15px
    margin-top 24px
    &__nav
      padding 27px 19px
    &__next
      position absolute
      left 50%
      bottom 0
    &__prev
      absolute(, 50%, 0) 
@media (min-width: 451px) and (max-width: 500px) 
  .our-services__right 
    border-bottom: 112px solid #fafafa 
  .services-list
    &__prev
      bottom 13%  
    &__next
      bottom 13% 
@media (min-width: 500px) and (max-width: 767px)
  .services-list
    min-height: 320px
    padding: 0 20px
    &__prev
      absolute(, 60px, -15px)
    &__next
      absolute(, 0, -15px)
    &__item
      font-size 18px
  .nav-list
    min-width 300px
@media (min-width: 500px) and (max-width: 1169px)
  .our-services 
    min-height 560px 
    &__left
      flex 0 1 25%
    &__right
      flex: 0 1 75%
    &__title
      font-size 28px
  .services-list
    &__item
      line-height 1.8
@media (min-width: 768px) and (max-width: 1169px)
  .services-list
    transform: translateX(-11%)
    min-height: 320px
    min-width: 720px
    &__prev
      absolute(, 60px, -15px)
    &__next
      absolute(, 0, -15px)
    &__item
      font-size 19px
@media (min-width: 500px) and (max-width: 2048px) 
  .our-services
    &__left
      background: url(../img/content/city-2.jpg) no-repeat -210px
    &__title
      margin-top 60px
  .nav-list
    &-services
      display flex
      margin-top 32px
      justify-content space-around
      min-width: 500px
      display flex
      flex-direction row
  .services-list
    top 38%
    min-height 320px
    absolute()
  .nav-list
    min-width 300px
@media (min-width: 1170px) and (max-width: 2048px)
  .our-services
    min-height 640px
    &__left
      background: url(../img/content/city-2.jpg) no-repeat left
      flex 0 1 45%
    &__right
      flex: 0 1 55%
  .services-list
    min-width 720px

     

    

