.section
  height 100%
  overflow hidden
.general
  display flex
  flex-direction: row
  background-color #fec388
  background-image url(../img/content/city.jpg)
  background-repeat no-repeat
  background-size cover
  background-position center
  min-height 650px