.container-desc
  flex 0 1 55%
  align-self center
.section
  height 100%
  overflow hidden
.general
  display flex
  flex-direction: row
  background-color #fec388
  background-image url(../img/content/city.jpg)
  background-repeat no-repeat
  background-size cover
  background-position center
  min-height 680px
  &-title
    font-family PtFont
  &-desc
    margin-top 30px
    max-width: 80%
    font-size 24px
    line-height 32px
  &-button
    display inline-block
    margin-top 30px
    background-image: linear-gradient(to top, #990000 0%, #cc0000 100%)
    padding 23px 75px
    &__link
      font-size: 18px
      font-weight 600
      
