.reviews
  background-color #ffd07b
  background-image url(../img/content/city_3.jpg)
  background-repeat no-repeat
  background-size cover
  background-position center
  min-height 550px
  &-title
    padding-bottom 25px
    font-weight normal
  &-mobile
    &__one,
    &__two,
    &__three,
    &__four
      background #fff
      display flex!important
      flex-direction: column
      justify-content space-around
      margin: 0 10px
      padding 20px 25px
      min-height: 350px
.toggle,
.read-more-trigger
  cursor pointer 
  margin-top 25px
  font-size 16px
  display flex
  justify-content flex-end
  margin-left: auto
.services
  &-title
    font-family PtFont
    font-weight normal
    text-align center
    padding: 70px 0 40px
  &-list
    &__reviews
      display none
    &--mobile
      margin-bottom 55px
.slick-slide
  width 300px
.slick-slider
  width: 100%
  margin: 0 auto
.slick-initialized .slick-slide 
  outline: 0 none !important
.services-list__next
  .icon-arrow 
    size(15px)
    transform: scale(-1, 1)
.read-more-wrap
  min-height 144px
.read-more-state 
  display: none


.read-more-target 
  opacity: 0
  max-height: 0
  font-size: 0
  transition: .1s ease


.read-more-state:checked ~ .read-more-wrap .read-more-target 
  opacity: 1
  font-size: inherit
  max-height: 999em


.read-more-state ~ .read-more-trigger:after
  content: 'Читать далее...'
  display inline-block
  border-bottom 1px solid #000030


.read-more-state:checked ~ .read-more-trigger:after
  content: 'Скрыть'
  display inline-block
  border-bottom 1px solid #000

.slick-track
  min-width: 237px
@media(min-width: 320px) and (max-width: 559px)
  .services
    &-title
      font-size 28px
      span 
        display block
    &-list
      &--mobile
        max-width: 100%
        p
          font-size 16px
          line-height 1.5
  .reviews-title
    font-size 20px
    padding-bottom: 10px
  .reviews-mobile__two
    .read-more-target
      margin-bottom: 47px
      display: inline-block
@media(min-width: 320px) and (max-width: 768px)
  .services
    &-title
      padding: 50px 0 40px
@media(min-width: 560px) and (max-width: 768px)
  .services
    &-list
      &__reviews
        max-width: 89%
        padding 50px 30px
        margin: 0 auto
        margin-bottom 10px
  .reviews-title
    font-size 24px 
  .services-list
    &--mobile
      display none 
    &__reviews
      display block
    &__prev
    &__next
      display none
  .slick-slide
    padding 0 10px
@media(min-width: 560px)
  .services
    &-title
      font-size 36px
    &-list
      &__reviews
        p
          font-size 16px
          line-height 1.5
@media(min-width: 769px) and (max-width: 1270px)
  .services
    &-list
      &__reviews
        max-width: 70%
        padding 50px 30px
        p 
          line-height 1.5
@media(min-width: 769px)
  .services
    &-title
      font-size 36px
    &-list
      &__reviews
        min-height 300px
        margin: 0 auto
        position relative
      &__prev,
      &__next
        display block
  .reviews-title
      font-size 24px 
    .services-list
      &--mobile
        display none 
      &__reviews
        display block
     
@media(min-width: 1271px)
  .services
    &-list
      &__reviews
        max-width: 970px
        padding 0 60px
        min-height 300px
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 19px;
        p 
          line-height 1.5
          font-size 18px





  
  