.reviews
  background-color #ffd07b
  background-image url(../img/content/city_3.jpg)
  background-repeat no-repeat
  background-size cover
  background-position center
  min-height 550px
  &-title
    padding-bottom 25px
    font-weight normal
  &-mobile
    &__one,
    &__two,
    &__three,
    &__four
      display flex
      flex-direction: column
.toggle
  cursor pointer 
  border-bottom: 1px solid #000030
  margin-top 25px
  align-self flex-end
.services
  &-title
    font-family PtFont
    font-weight normal
    text-align center
    padding  40px 0
  &-list
    &__reviews
      display none


@media(min-width: 320px) and (max-width: 560px)
  .services
    &-title
      font-size 28px
      span 
        display block
    &-list
      &--mobile
        max-width: 83%
        padding 30px 21px
        p
          font-size 16px
          line-height 1.5
  .reviews-title
    font-size 20px
  .reviews-title
    font-size 20px
@media(min-width: 560px) and (max-width: 768px)
  .services
    &-list
      &__reviews
        max-width: 89%
        padding 50px 30px
        margin: 0 auto
  .reviews-title
    font-size 24px 
  .services-list
    &--mobile
      display none 
    &__reviews
      display block
    &__prev
    &__next
      display none
@media(min-width: 560px) and (max-width: 2048px)
  .services
    &-title
      font-size 36px
    &-list
      &__reviews
        p
          font-size 16px
          line-height 1.5
@media(min-width: 769px) and (max-width: 1270px)
  .services
    &-list
      &__reviews
        max-width: 70%
        padding 50px 30px
        p 
          line-height 1.5
@media(min-width: 769px) and (max-width: 2048px)
  .services
    &-title
      font-size 36px
    &-list
      &__reviews
        min-height 320px
        margin: 0 auto
        position relative
      &__prev,
      &__next
        display block
  .reviews-title
      font-size 24px 
    .services-list
      &--mobile
        display none 
      &__reviews
        display block
     
@media(min-width: 1271px) and (max-width: 2048px)
  .services
    &-list
      &__reviews
        max-width: 970px
        padding 64px 60px
        p 
          line-height 1.8
          font-size 18px





  
  