section.section.our-services#services
  .our-services__left
  .our-services__right
    h2.our-services__title Наши услуги
    +nav-soc('nav-list-services', [{name: 'Продажа', href:''}, {name: 'Покупка', href:''},{name: 'Другие', href:''}],0) 
    .services-list
      ul.services-list__nav
        li.services-list__item.note
          | Профессиональная оценка объекта недвижимости
        li.services-list__item.cheet
          | Предпродажная подготовка к продаже объекта недвижимости
        li.services-list__item.search
          | Поиск покупателя в обширной клиентской базе
        li.services-list__item.key
          | Организация и проведение сделки купли-продажи <br>(от составления договоров до передачи ключей покупателям )
      a.services-list__prev
        +icon('arrow')
      a.services-list__next
        +icon('right-arrow')