section.section.our-services#services
  .our-services__left
  .our-services__right
    h2.our-services__title Наши услуги
    nav.nav-list#bx-pager
      ul.nav-list-services
        li.nav-list-services__item
          a.nav-list-services__link(data-slide-index='0' href='') Продажа
        li.nav-list-services__item
          a.nav-list-services__link(data-slide-index='1' href='') Покупка
        li.nav-list-services__item
          a.nav-list-services__link(data-slide-index='2' href='') Другие
    .services-list
      .services-slider
        ul.services-list__nav
          li.services-list__item.note
            | Профессиональная оценка объекта недвижимости
          li.services-list__item.cheet
            | Предпродажная подготовка к продаже объекта недвижимости
          li.services-list__item.search
            | Поиск покупателя в обширной клиентской базе
          li.services-list__item.key
            | Организация и проведение сделки купли-продажи <br>(от составления договоров до передачи ключей покупателям )
        ul.services-list__nav
          li.services-list__item.note
            | Оформление ипотек в ведущих банках г.Петрозаводск
          li.services-list__item.search
            | Подбор недвижимости с учетом пожеланий покупателя
          li.services-list__item.cheet
            | Юридическая экспертиза документов, предоставленных <br> продавцом по продаваемому обьекту недвижимости 
          li.services-list__item.key
            | Организация и проведение сделки купли-продажи <br>(от составления договоров до передачи ключей покупателям )
        ul.services-list__nav
          li.services-list__item.note
            | Составление договоров купли-продажи недвижимости
          li.services-list__item.calculate
            | Юридическое сопровождение сделки купли-продажи <br> обьектов недвижимости
          li.services-list__item.doc
            | Срочный выкуп обьектов недвижимости
          li.services-list__item.cheet
            | Содействие в приватизации жилых помещений
          li.services-list__item.legal
            | Представительство в суде
      a.services-list__prev#proprev
        +icon('arrow')
      a.services-list__next#pronext
        +icon('right-arrow')
      
      
            
