section.section.our-strenght
	.container.our-strength__container
		h2.our-strength__title Почему выбирают нас?
		ul.our-strength__nav
			li.our-strength__item.skyline
					p 8 лет успешной работы в сфере недвижимости
			li.our-strength__item.placeholder
					p Ежедневное обновление базы обьектов
			li.our-strength__item.house-key
					p Мы действуем в интересах наших клиентов
			li.our-strength__item.contract
					p У нас нет двойных <br>и скрытых комисси