section.section.our-strength#strength
	.container.our-strength__container
		h2.our-strength__title Почему выбирают нас?
		h2.our-strength__title--mobile Почему мы?
		ul.our-strength__nav
			li.our-strength__item.skyline
				.container-icon
					+icon('skyline')
					.border
				p 8 лет успешной работы <br>в сфере недвижимости
			li.our-strength__item.placeholder
				.container-icon
					+icon('placeholder')
					.border
				p Ежедневное обновление базы обьектов
			li.our-strength__item.house-key
				.container-icon
					+icon('house-key')
					.border
				p Мы действуем в интересах наших клиентов
			li.our-strength__item.contract
				.container-icon
					+icon('contract')
					.border
				p У нас нет двойных<br>и скрытых комиссий