section.section.general#general
  .container
    .container-desc
      .general-title
        h1.title Желание выгодно купить или продать недвижимость?
      .general-desc
        p Наша команда профессионалов исполнит Ваше желание в короткие сроки!
      .general-desc__mobile
        p Наша команда исполнит Ваше желание!
      a(href="#form-section").general-button
        span.general-button__link Оставить заявку
      