.padding#form-section
section.section.map#contacts
  .form-container
    form#formID.form(name='form')
      .form-title 
        h3 Бесплатная консультация
        span.form-title-desc Заполните заявку и мы свяжемся с Вами
      .form-group.form-group--name 
        label.form-label Ваше имя:
        input.form-control#name(type="text" name="name" placeholder="Ваше имя" tabindex="1" required onKeyUp="if(/[^a-zA-Zа-яА-ЯёЁ .]/i.test(this.value)){this.value='';}" )
      .form-group.form-group--phone
        label.form-label Телефон:
        input.form-control#phone( type="text" name="phone" placeholder="Телефон:" tabindex="2" required onkeyup="this.value = this.value.replace (/[^0-9+]/g, '')").g-input
      .form-group.form-group--text
        label.form-label Тема заявки:
        input.form-control#text(type="text" name="tema" placeholder="Тема заявки:" tabindex="3" required onKeyUp="if(/[^a-zA-Zа-яА-ЯёЁ .]/i.test(this.value)){this.value='';}")
        
      button.general-button.general-button--mod
        span.general-button__link Отправить заявку
      .form-conf
        p Нажимая на кнопку отправить заявку, я соглашаюсь на обработку моих персональных данных в соответствии
          span 
            a.text-conf(href="../../static/img/content/docs.pdf" target="_blank") с целями обработки и политикой конфиденциальности
    
  .map__container 
    .map__object#map
