.padding#form
section.section.map
  .form-container
    form#form.form(name='form')
      .form-title 
        h3 Бесплатная консультация
        span.form-title-desc Заполните заявку и мы свяжемся с Вами
      .form-group.form-group--name 
        label.form-label Ваше имя:
        input.form-control#name(type="name" name="name" placeholder="Ваше имя" tabindex="1" required onKeyUp="if(/[^a-zA-Zа-яА-ЯёЁ .]/i.test(this.value)){this.value='';}" )
      .form-group.form-group--phone
        label.form-label Телефон:
        input.form-control#phone( name="phone" placeholder="Телефон:" tabindex="2" required onkeyup="this.value = this.value.replace (/[^0-9+]/g, '')")
      .form-group.form-group--text
        label.form-label Тема заявки:
        input.form-control#text(type="text" name="tema" placeholder="Тема заявки:" tabindex="3" required onKeyUp="if(/[^a-zA-Zа-яА-ЯёЁ .]/i.test(this.value)){this.value='';}")
      .form-group.form-group--checkbox
        label.form-label.form-label--checkbox
          input.checkbox.form-control#check(type="checkbox" name="form-check")
          span.checkbox-custom
          span.label.desctop Даю свое согласие на обработку персональных данных
          span.label-mobile Cогласие на обработку персональных данных
      button.general-button.general-button--mod
        a.general-button__link Отправить заявку
  .map__container 
    .map__object#map
