section.section.reviews#reviews
  .services-list
    h3.reviews-title Таисия Дерюгина
    p
      | Обратилась в АН "Республика" по совету коллеги. Владимир - настоящий профессионал, умеет объяснить сложные вопросы простым языком! Искали сразу вариант в заданном бюджете. На все просмотры Владимир ездил со мной, объяснял юридические вопросы, готовил документы. Нервный и сложный процесс стал простым, понятным и спокойным! Удачи, успеха Вам! Огромное спасибо!
    a.services-list__prev
      +icon('arrow')
    a.services-list__next
      +icon('right-arrow')