section.section.reviews#reviews
  h3.services-title Отзывы 
    span наших клиентов
  .services-list__reviews
    .reviews-slider
      .reviews-one
        h3.reviews-title Таисия Дерюгина
        p
          | Обратилась в АН "Республика" по совету коллеги. Владимир - настоящий профессионал, умеет объяснить сложные вопросы простым языком! Искали сразу вариант в заданном бюджете. На все просмотры Владимир ездил со мной, объяснял юридические вопросы, готовил документы. Нервный и сложный процесс стал простым, понятным и спокойным! Удачи, успеха Вам! Огромное спасибо!
      
      .reviews-two
        h3.reviews-title Софья Харитонова
        p
          | Обратилась в АН «Республика» с целью продать квартиру в кратчайшие сроки. Результат превзошел ожидания: квартиру продали за одну неделю, сделка организована прекрасно. Огромное спасибо менеджеру Александре за четкую и слаженную работу. 
          | В дальнейшем буду обращаться только в АН «Республика».
      .reviews-three
        h3.reviews-title Светлана Пахомова
        p
          | В связи с расширением состава семьи, решили продавать однокомнатную квартиру. Хорошие друзья посоветовали обратиться в агентство недвижимости «Республика». Очень быстро приехал специалист, обговорили все нюансы по продаже. Поиск новой квартиры занял у нас несколько дней. Спасибо менеджеру Павлу.
          | Большое спасибо агентству недвижимости «Республика»!
      .reviews-four
        h3.reviews-title Хартман
        p
          | Благодарим агенство "Республика" за помощь в серьёзном деле - продажа квартиры. Когда на протяжении месяца почти ежедневно квартиру смотрели по несколько семей, мы поняли, что имеем дело с профессионалами и были уверены, что скоро наш вежливый менеджер -  Михаил, найдёт счастливца, который купит наше уютное жильё. Так и произошло!) Быстрая сделка, помощь со всей документацией и квартира продана! 
    a.services-list__prev#prev
      +icon('arrow','#form-section')
    a.services-list__next#next
      +icon('arrow')
    #addId
  .services-list--mobile.one
    .mobile-slider
      .reviews-mobile__one
        h3.reviews-title Таисия Дерюгина
        p
          | Обратилась в АН "Республика" по совету коллеги. Владимир - настоящий профессионал, умеет объяснить сложные вопросы простым языком! Искали сразу вариант в заданном бюджете.
        span.content
          | На все просмотры Владимир ездил со мной, объяснял юридические вопросы, готовил документы. Нервный и сложный процесс стал простым, понятным и спокойным! Удачи, успеха Вам! Огромное спасибо!
        span.toggle Читать далее...
      .reviews-mobile__two
        h3.reviews-title Софья Харитонова
        p
          | Обратилась в АН «Республика» с целью продать квартиру
          | в кратчайшие сроки. Результат превзошел ожидания: квартиру продали за одну неделю, сделка организована прекрасно. 
        span.content
          | Огромное спасибо менеджеру Александре за четкую и слаженную работу. 
          | В дальнейшем буду обращаться только в АН «Республика».
        span.toggle Читать далее...
      .reviews-mobile__three
        h3.reviews-title Светлана Пахомова
        p
          | В связи с расширением состава семьи, решили продавать однокомнатную квартиру. Хорошие друзья посоветовали обратиться в агентство недвижимости «Республика».  
        span.content
          | Очень быстро приехал специалист, обговорили все нюансы по продаже. Поиск новой квартиры занял у нас несколько дней. Спасибо менеджеру Павлу.Большое спасибо агентству недвижимости «Республика»!
        span.toggle Читать далее...
      .reviews-mobile__four
        h3.reviews-title Хартман
        p
          | Благодарим агенство "Республика" за помощь в серьёзном деле — продажа квартиры. Когда на протяжении месяца почти ежедневно квартиру смотрели по несколько семей   
        span.content
          | мы поняли, что имеем дело с профессионалами и были уверены, что скоро наш вежливый менеджер  Михаил, найдёт счастливца, который купит наше уютное жильё. Так и произошло!
        span.toggle Читать далее...
      
