section.section.reviews#reviews
  h3.services-title Отзывы 
    span наших клиентов
  .services-list__reviews
    h3.reviews-title Таисия Дерюгина
    p
      | Обратилась в АН "Республика" по совету коллеги. Владимир - настоящий профессионал, умеет объяснить сложные вопросы простым языком! Искали сразу вариант в заданном бюджете. На все просмотры Владимир ездил со мной, объяснял юридические вопросы, готовил документы. Нервный и сложный процесс стал простым, понятным и спокойным! Удачи, успеха Вам! Огромное спасибо!
    a.services-list__prev.services-list__prev--reviews
      +icon('arrow')
    a.services-list__next.services-list__next-reviews
      +icon('right-arrow')
  .services-list--mobile
    h3.reviews-title Таисия Дерюгина
    p
      | Обратилась в АН "Республика" по совету коллеги. Владимир - настоящий профессионал, умеет объяснить сложные вопросы простым языком! Искали сразу вариант в заданном бюджете.
    p.content
      | На все просмотры Владимир ездил со мной, объяснял юридические вопросы, готовил документы. Нервный и сложный процесс стал простым, понятным и спокойным! Удачи, успеха Вам! Огромное спасибо!
    span.toggle Читать далее...